body {
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle, rgba(13, 17, 219, .5), rgba(33, 167, 245, .8));
}
img {
    margin: 10px;
    
}
img:hover {
    transform: translateY(-5px);
}

section {
    padding: 20px;
    margin: 10px;
    background-color: rgba(247, 247, 247, 0.2);
    border-radius: 8px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

header {
    text-align: center;
}