body {
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: auto;
    background: linear-gradient(to left, rgba(226, 226, 231, 0.5), rgb(186, 223, 245));
}
button {
    border-radius: 5px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box; 
}

a {
    text-decoration: none;
}

a:visited {
    color: #551a8b;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
    
    
}
input:focus, textarea:focus{
    background-color: rgb(167, 160, 160);
}
button:hover {
    background-color: #218838;
}

@media screen and (max-width: 680px) {
    body{
        width: 100%;
        background: blue;
        color: white;
    }
    
}