footer {
    background-color: darkgray;
    text-align: center;
    padding: 10px;
}

header {
    background-color: burlywood;
    text-align: center;
    padding: 10px;
}

img {
    border-radius: 50%;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: antiquewhite;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

nav, section, article {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

nav, .main-content, article {
    flex: 1;
}
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f7f7f7;
}

@media screen and (max-width: 768px) {
    nav.contact {
        position: sticky;
        top: 0;
        
    }
}